flask
Werkzeug
jinja2
flask_login
flask_migrate
WTForms
flask_wtf
flask_sqlalchemy
sqlalchemy
email_validator
gunicorn
flask-restx
python-dotenv
Flask-Minify
numpy
seaborn
scikit-learn
matplotlib
pydash
cufflinks
pandas
plotly==5.3.1
kaleido
# flask_mysqldb
# psycopg2-binary
