<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/static/assets/favicon.png" type="image/x-icon">
  <link rel="canonical" href="#/adminlte"/>
  
  <title>
    {% block title %}{% endblock %}
  </title> 

  {% block stylesheets %}{% endblock stylesheets %}
  <link rel="stylesheet" href="/static/assets/css/index.css">

</head>
<body class="hold-transition layout-fixed {% block body_class %}{% endblock body_class %}">
<div class="wrapper">

    {% include 'includes/navigation.html' %}

    {% include 'includes/sidebar.html' %}

    {% block content %}{% endblock content %}

    {% include 'includes/footer.html' %}

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

</div>
<!-- ./wrapper -->
  <!-- jQuery -->
  <script src="/static/assets/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="/static/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- jQuery UI -->
  <script src="/static/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/static/assets/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="/static/assets/js/demo.js"></script>
  <!-- fullCalendar 2.2.5 -->
  <script src="/static/assets/plugins/moment/moment.min.js"></script>
  <script src="/static/assets/plugins/fullcalendar/main.min.js"></script>
  <script src="/static/assets/plugins/fullcalendar-daygrid/main.min.js"></script>
  <script src="/static/assets/plugins/fullcalendar-timegrid/main.min.js"></script>
  <script src="/static/assets/plugins/fullcalendar-interaction/main.min.js"></script>
  <script src="/static/assets/plugins/fullcalendar-bootstrap/main.min.js"></script>
    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{{url_for('static', filename='assets/js/jsonForm.js')}}"></script>
  
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
<script src="{{url_for('static', filename='assets/js/index.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/lib/loadingoverlay.min.js')}}"></script>
   
</body>
</html>
